body 
{
    background-color:lightslategray;       
}
img
{
  width:620px;
  height:420px;
  margin-left:90px;
}
div
{
  width:780px;
  background-color: rgba(70,129,0,0.5);
  margin-left:250px;
  margin-top: 50px;
  box-shadow: 15px 15px 15px #2E8B57;
  
}
